extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/style-password.css')
  link(rel='stylesheet', href='/stylesheets/style-username.css')

block content
  h1= title
  div(id="root") Loading...

block append scripts
  script(crossorigin, src='https://unpkg.com/react@16/umd/react.production.min.js')
  script(crossorigin, src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js')

  script(src='/javascripts/password-app.js')